body {
    background-color: bisque;
}
h1{
    font-family: "Nothing You Could Do";
    font-weight: 800;
}
h3 {
    font-family: "NOthing You Could Do";
    font-weight: 600;
}
p {
    font-family: "Libre Baskerville";
}
.my-rounded-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .my-rounded-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .my-rounded-all {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  